<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <!-- Mobile Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} | {{ site.title }}</title>
    {{ content_for_head }}
    {% include head.html %}
  </head>

  <body>
    <header>
      <h1><a href="/index.html">{{ site.title }}</a></h1>
      <p>{{ site.description }}</p>
      <nav>
        <a href="/about.html">about</a> |
        <a href="/reviews.html">reviews</a> |
        <a href="/contact.html">contact</a>
      </nav>
    </header>

    <main class="content home">
      {{ content }}
    </main>
  </body>
</html>

